{% extends "base.html" %}
{% comment %} {% block title%}Main{% endblock %} {% endcomment %}

<body>
     <!-- Responsive Navbar -->
        <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">Nana's Services</a>
            <ul class="nav-links">
              <li><a href="#features">Features</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        </nav>
</body>